// @font-face {
//     font-family: 'Poppins';
//     src: url(../fonts/Poppins/Poppins-Regular.ttf);
// }

@font-face {
    font-family: Poppins-bold;
    src: url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: Poppins-Regular;
    src: url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    letter-spacing: normal;
    font-family: Poppins-Regular;
    box-sizing: border-box;
}

a, a:focus, a:hover {
    text-decoration: none;
    transition: all .3s ease;
    color: var(--color-primary);
}

[type=button]:not(:disabled), 
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled), 
button:not(:disabled) {
    cursor: pointer;
}

#nav-header {
	min-height: $header-spacing;
}

.main-container {
    padding-top: $header-spacing;
    padding-bottom: 63px;
    min-height: calc(100vh - 120px);
}

.color-primary {
    color: var(--color-primary);
}

.color-black {
    color: var(--color-black);
}

.color-org {
    color: var(--color-orange) !important;
}

ul {
    list-style: none;
    padding: 0!important;
}

.learn-more {
    font-weight: 700;
    text-decoration: underline;
    margin-top: 26px;
    display: inline-flex!important;
    cursor: pointer;

    span {
        display: inline-flex;
    }
}

.kolloBox {
    &-cta--section {
        background: var(--color-primary-light);
        border: 1px solid rgba(224, 221, 221, 0.5);
        box-shadow: 15px 30px 40px rgba(168, 171, 177, 0.7);
        border-radius: 5px;
        padding: 60px 88px 76px;
        position: relative;
        overflow: hidden;
    }

    &-socials {
        margin-top: 23px;

        li a {
            margin-right: 15px;
            height: 100%;
        }

        svg {
            box-shadow: 15px 30px 40px rgb(64 25 109 / 7%);
            border-radius: 100px;
            font-size: 14px;
        }
    }

    @media screen and (max-width: 767px) {
        &-cta--section {
            box-shadow: 0 4px 13px rgba(78, 64, 64, 0.05) !important;
        }
    }

    &-cta--section &-main--wrap {
        max-width: 423px;
        p {
            color: var(--color-black);
            margin-bottom: 20px;
            font-size: 1rem;
            line-height: 1.5;
        }
    }

    &-section--heading {
        font-size: 2.25rem;
        line-height: 1.38;
        font-weight: 900;
        color: var(--color-primary);
        margin-bottom: 20px;
    }

    &-cta--section &-section--heading {
        margin-bottom: 10px;
    }

    &-app--badges, &-app--licenses {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
    }

    &-section {
		margin-top: 12.5%;
        &--inner {
            // display: flex;
            align-items: center;
            justify-content: center;
        }
        &--wrap {
            // max-width: 420px;
        }
        &--max {
            // max-width: 350px;
        }
	}
	&-entry--inner {
		margin-top: -3%;
	}
	@media only screen and (max-width: 767px) {
		&-entry--inner {
			padding: 35px 20px;
		}
	}
}

.main-section {
    position: relative;

    @media screen and (max-width: 768px) {
        &-home-section {
            // padding: 3.6rem 0 5.5rem;
        }
    }

    &.home-section {
        padding: 2.6rem 0 7.5rem;
        margin-bottom: 2rem;
        min-height: 73vh;
        display: flex;
        align-items: center;
        background-color: #fafafa;
        background-color: var(--color-orange);

        .text-section {
            margin-right: 3vw;
            width: auto
        }

        .illustration-section {
            
        }

        p {
            font-size: 1.6rem;
        }

        @media screen and (max-width: 1264px) {
            h1 {
                font-size: 1.9rem;
            }
        }
    }

    .title-style {
        font-size: 2.9rem;
        font-family: "Poppins-SemiBold",serif;
        width: 100%;
        max-width: 34rem;
        margin-bottom: 1rem;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .subTitle-style {
        margin-bottom: 1.5rem;
    }

    .links-btn {
        a {
            font-family: "Poppins-SemiBold";
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}