@keyframes steady_color_change {
    0% {
        background: #640000;
    }
    50% {
        background: #a00000;
    }
    100% {
        background: rgba(0, 0, 0, 0.2);
    }
}

@keyframes slideArrowAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 